@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Montserrat:wght@300;400&family=Overpass&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');


$fmont: "Montserrat";
$fdance: "Dancing Script";

$fira: "Fira Mono";

$space: "monospace";




$f-w4: 400;
$f-w5: 500;
$f-w7: 700;